# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Docker
postgres_data/

# Testing
.pytest_cache/
